<h1>Bienvenido. Acá están tus Productos Disponibles</h1>
<hr>
<br>
<h3>Productos Disponibles:</h3>
<ul>
    {{#each products}}
        <li>{{title}}</li>
    {{/each}}
</ul>
<a href="/realTime" class="href">Ir a Catálogo En Vivo (Realtime!)</a>
