<div class="mainContainer">
    <div class="titles">
        <h1>Bienvenid@ a la Tienda</h1>
        <a href="/realTime" class="href">Ir a Catálogo En Vivo (Realtime!)</a>
    </div>
    <div class="productsContainer">         
        <h3>Productos Disponibles:</h3>
        <div class="productsList">
            <ul class="ul">
                {{#each products}}
                    <div class="productCard">
                        <li><strong>{{title}}:</strong> {{description}}</li>
                    </div>
                {{/each}}
            </ul>
        </div>    
    </div>
</div>

